<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가

add_stylesheet('<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/sky-forms/version-2.0.5/css/sky-forms.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/owl.carousel/owl-carousel/owl.carousel.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../css_mo/style_mo.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../css_mo/custom_mo.css" type="text/css" media="screen">',0);

?>

<!--{? !_wmode}-->

<!--{* ----- 로딩효과 시작 ----- *}-->
<div id="preloader">
	<div id="status">
    	<p class="t-center">
			Loading the content...
        </p>
    </div>
</div>
<!--{* ----- 로딩효과 끝 ----- *}-->

<div class="wrapper">
	<!--{* ----- 좌측 사이드 영역 시작 ----- *}-->
    <div id="sidebar" class="ebm-sidebar">
        <div class="ebm-sidebar-scroll">
        	<div class="sidebar-section">
            	<p>NAVIGATION</p>
                <a href="#" class="sidebar-close"><i class="fa fa-times"></i></a>
            </div>

            <div class="sidebar-search">
				<!--{* ----- 검색창 영역 시작 ----- *}-->
		        <div class="search-form">
					<form name="fsearchbox" method="get" action="{C.G5_BBS_URL}/search.php" onsubmit="return fsearchbox_submit(this);" class="sky-form">
					<input type="hidden" name="sfl" value="wr_subject||wr_content">
					<input type="hidden" name="sop" value="and">

					<section>
						<label for="sch_stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
						<label for="sch_stx" class="input input-file">
							<button class="button bg-color-white" type="submit" id="sch_submit"><i class="fa fa-search color-red"></i></button>
							<input type="text" name="stx" id="sch_stx" maxlength="20" class="form-control" placeholder="전체검색" value="">
						</label>
					</section>

					</form>
					<script>
					function fsearchbox_submit(f) {
						if (f.stx.value.length < 2 || f.stx.value == $("#sch_stx").attr("placeholder")) {
							alert("검색어는 두글자 이상 입력하십시오.");
							f.stx.select();
							f.stx.focus();
							return false;
						}
						// 검색에 많은 부하가 걸리는 경우 이 주석을 제거하세요.
						var cnt = 0;
						for (var i=0; i<f.stx.value.length; i++) {
							if (f.stx.value.charAt(i) == ' ') cnt++;
						}

						if (cnt > 1) {
							alert("빠른 검색을 위하여 검색어에 공백은 한개만 입력할 수 있습니다.");
							f.stx.select();
							f.stx.focus();
							return false;
						}
						return true;
					}
					</script>
		        </div>
		        <!--{* ----- 검색창 영역 끝 ----- *}-->
            </div>

            <ul class="list-group sidebar-nav" id="sidebar-nav">
                <!--{* Home *}-->
                <li class="list-group-item {? defined('_INDEX_')}active{/}">
                    <a href="{C.G5_URL}{? _is_member && eyoomer.main_index != 'index'}/?home{/}">Home</a>
                </li>
                <!--{* End Home *}-->

                <!--{* Menu *}-->
                <!--{@ menu}-->
                <li class="list-group-item {? menu.submenu}list-toggle{/} {? .active}active{/}">
                	<a {? menu.submenu}data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-{.key_}"{:}href="{.me_link}" target="_{.me_target}"{/}>
                        <!--{? .me_icon}--><i class="fa {.me_icon}"></i> <!--{/}-->{.me_name}
                    </a>
					<!--{@ submenu}-->
	                <!--{? ..index_ == 0}-->
                    <ul id="collapse-{.key_}" class="collapse {? .active}in{/}">
                    <!--{/}-->
                        <li class="{? ..active}active{/}">
                        	<a href="{..me_link}" target="_{..me_target}">
                            	<!--{? ..me_icon}--><i class="fa {..me_icon}"></i> <!--{/}-->{..me_name}<!--{? ..new}--> <i class="fa fa-circle color-red"></i><!--{/}-->
                        	</a>
							<!--{@ subsub}-->
							<!--{? ...index_ == 0}-->
							<ul class="in">
							<!--{/}-->
								<li class="{? ...active}active{/}">
									<a href="{...me_link}" target="_{...me_target}" class="subsub-style">
										- <!--{? ...me_icon}--><i class="fa {...me_icon}"></i> <!--{/}-->{...me_name}<!--{? ...new}--> <i class="fa fa-circle nav-new2"></i><!--{/}-->
									</a>
								</li>
							<!--{? ...index_ == ...size_-1}-->
							</ul>
							<!--{/}-->
							<!--{/}-->
                        </li>
                    <!--{? ..index_ == ..size_-1}-->
                    </ul>
                    <!--{/}-->
					<!--{/}-->
                </li>
                <!--{/}-->
                <!--{* End Menu *}-->
            </ul>

        	<div class="sidebar-section"><p>DEFAULT MENU</div>
            <ul class="list-group sidebar-nav">
				<!--{* START DEFAULT MENU //필요에 따라 사용하세요. 테마 page 폴더에 html파일을 생성 후 아래와 같은 형식으로 a태그에 링크를 연결합니다. *}-->
				<!--{? 1 //DEFAULT 메뉴 안보임:0, 보임:1}-->
				<li class="list-group-item">
					<a href="{C.G5_BBS_URL}/faq.php"><i class="fa fa-question-circle"></i> FAQ</a>
				</li>
				<li class="list-group-item">
					<a href="{C.G5_BBS_URL}/qalist.php"><i class="fa fa-lock"></i> 1:1 문의</a>
				</li>
				<!--{/}-->
				<!--{* END DEFAULT MENU *}-->
            </ul>

        	<div class="sidebar-section"><p>INFORMATION</p></div>
            <ul class="list-group sidebar-nav">
				<!--{* START INFO MENU //필요에 따라 사용하세요. 테마 page 폴더에 html파일을 생성 후 아래와 같은 형식으로 a태그에 링크를 연결합니다. *}-->
				<!--{? 1 //INFO 메뉴 안보임:0, 보임:1}-->
				<!-- <li class="list-group-item {? _pid == 'aboutus'}active{/}">
					<a href="{C.G5_URL}/page/?pid=aboutus"><i class="fa fa-building"></i> ABOUT US</a>
				</li> -->
				<li class="list-group-item {? _pid == 'provision'}active{/}">
					<a href="{C.G5_URL}/page/?pid=provision"><i class="fa fa-clipboard"></i> 이용약관</a>
				</li>
				<li class="list-group-item {? _pid == 'privacy'}active{/}">
					<a href="{C.G5_URL}/page/?pid=privacy"><i class="fa fa-male"></i> 개인정보 취급방침</a>
				</li>
				<li class="list-group-item {? _pid == 'noemail'}active{/}">
					<a href="{C.G5_URL}/page/?pid=noemail"><i class="fa fa-exclamation-triangle"></i> 이메일 무단수집거부</a>
				</li>
				<!--{/}-->
				<!--{* END INFO MENU *}-->
            </ul>

        	<div class="sidebar-copyright">
            	<p>&copy; {config.cf_title}. All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <!--{* ----- 좌측 사이드 영역 끝 ----- *}-->

	<!--{* ----- 컨텐츠 영역 시작 ----- *}-->
    <div id="content" class="ebm-content">
    	<div class="ebm-header">
        	<a href="#" class="sidebar-btn"><i class="fa fa-align-justify"></i></a>
        	<!--{* ----- 로고 영역 시작 ----- *}-->
            <div class="ebm-logo">
				<!--{? 1 // 앞숫자설정 - 0:이미지로고, 1:텍스트로고}-->
				<a href="{C.G5_URL}">{config.cf_title}</a>
				<!--{:}-->
				<a href="{C.G5_URL}"><img src="../image/site_logo.png" style="height:26px" alt="{config.cf_title} LOGO"></a>
				<!--{/}-->
            </div>
            <!--{* ----- 로고 영역 끝 ----- *}-->
            <!--{? _is_member //회원일 경우}-->
            <a href="{C.G5_BBS_URL}/logout.php" class="ebm-login">LOGOUT</a>
            <!--{: //비회원일 경우}-->
            <a href="{C.G5_BBS_URL}/login.php" class="ebm-login">LOGIN</a>
            <!--{/}-->
        </div>

        <div class="ebm-member-bar topbar">
			<ul class="list-inline list-unstyled left">
			<!--{? _is_member //회원일 경우}-->
				<!--{* 쪽지 최신글 *}-->
				{latest->latest_memo('ebm_memo','count=5||cut_subject=20||photo=y')}
				<!--{* 내글반응 최신글 *}-->
				{latest->latest_respond('ebm_respond','count=5||cut_subject=20||photo=y')}
			<!--{/}-->
			<!--{? _is_member //회원일 경우}-->
	            <li><a href="{C.G5_BBS_URL}/member_confirm.php?url={C.G5_BBS_URL}/register_form.php">정보수정</a></li>
				<!--{? _is_admin //관리자일 경우}-->
	            <li><a href="{C.G5_ADMIN_URL}">관리자</a></li>
	            <!--{/}-->
			<!--{: //비회원일 경우}-->
	            <li><a href="{C.G5_BBS_URL}/register.php">회원가입</a></li>
			<!--{/}-->
			</ul>
			<ul class="list-inline list-unstyled right">
				<li>
					<a href="#" class="ebm-sidebar-open">
						<strong class="username"><!--{? eyoomer.mb_nick}-->{eyoomer.mb_nick}<!--{:}-->{eyoomer.mb_name}<!--{/}--> <i class="fa fa-outdent"></i></strong>
					</a>
				</li>
			</ul>
			<div class="clear"></div>
        </div>

        <!--{* 페이지 타이틀 시작 *}-->
        <div class="ebm-title-wrap">
		    <!--{? defined('_INDEX_') || defined('_EYOOM_MYPAGE_')}-->
		    <!--{:}-->
		    <div class="ebm-title">
			    <div class="heading heading-e1">
	            <h4>{subinfo.title}</h4>
	            <p>
		            <ul class="list-inline list-unstyled con-map">
						{subinfo.path}
		            </ul>
	            </p>
			    </div>
		    </div>
		    <!--{/}-->
        </div>
        <!--{* 페이지 타이틀 끝 *}-->

        <!--{* ----- ebm_notice 공지최신글 영역 시작 - (아래 추출옵션에서 bo_table=게시파id 를 설정합니다.) ----- *}-->
        <div class="ebm-notice-wrap">
	        <div class="ebm-notice-box">
	        	{latest->latest_eyoom('ebm_notice','bo_table=게시판id||count=5||cut_subject=30')}
	        </div>
        </div>
        <!--{* ----- 공지최신글 영역 끝 ----- *}-->

        <div class="ebm-content-wrap">
<!--{/}-->