<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가

add_stylesheet('<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/sky-forms/version-2.0.5/css/sky-forms.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/owl.carousel/owl-carousel/owl.carousel.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../css/custom.css" type="text/css" media="screen">',0);

?>

<!--[if lt IE 9]>
    <link rel="stylesheet" href="../plugins/sky-forms/version-2.0.5/css/sky-forms-ie8.css">
<![endif]-->

<!--{? !_wmode}-->
<div class="wrapper">

	<!--{? 1 // 앞숫자설정 - 0:박스형 레이아웃, 1:기본형 레이아웃}-->
	<div class="wide-layout">
	<!--{:}-->
	<div class="boxed-layout container">
	<!--{/}-->

		<div class="topbar">
			<div class="container">
				<ul class="list-inline list-unstyled left">
					<li>
	                    <a href="javascript://" onclick="window.external.AddFavorite(parent.location.href,document.title);">북마크</a>
					</li>
					<li>
						<a href="{C.G5_BBS_URL}/current_connect.php">접속자 {connect.total_cnt}{? connect.mb_cnt} (<span>{connect.mb_cnt}</span>){/}</a>
					</li>
					<li><a href="{C.G5_BBS_URL}/faq.php">FAQ</a></li>
					<li><a href="{C.G5_BBS_URL}/qalist.php">1:1문의</a></li>
					<li><a href="{C.G5_BBS_URL}/new.php">새글</a></li>
				</ul>
				<ul class="list-inline list-unstyled right">
				<!--{? _is_member //회원일 경우}-->
					<!--{? _is_admin //관리자일 경우}-->
		            <li><a href="{C.G5_ADMIN_URL}">관리자</a></li>
		            <!--{/}-->
		            <li><a href="{C.G5_BBS_URL}/member_confirm.php?url={C.G5_BBS_URL}/register_form.php">정보수정</a></li>
		            <li><a href="{C.G5_BBS_URL}/logout.php">로그아웃</a></li>
				<!--{: //비회원일 경우}-->
		            <li><a href="{C.G5_BBS_URL}/register.php">회원가입</a></li>
		            <li><a href="{C.G5_BBS_URL}/login.php">로그인</a></li>
				<!--{/}-->
				<!--{? _is_member //회원일 경우}-->
					<!--{* 쪽지 최신글 *}-->
					{latest->latest_memo('ebp_memo','count=5||cut_subject=20||photo=y')}
					<!--{* 내글반응 최신글 *}-->
					{latest->latest_respond('ebp_respond','count=5||cut_subject=20||photo=y')}
				<!--{/}-->
				</ul>
				<div class="clear"></div>
			</div>
		</div>

		<header class="header">
			<div class="container">
				<!--{* ----- 로고 영역 시작 ----- *}-->
				<div class="logo left">
					<!--{? 1 // 앞숫자설정 - 0:이미지로고, 1:텍스트로고}-->
					<a href="{C.G5_URL}">{config.cf_title}</a>
					<!--{:}-->
					<a class="navbar-brand" href="{C.G5_URL}"><img src="../image/site_logo.png" style="height:38px" alt="{config.cf_title} LOGO"></a>
					<!--{/}-->
				</div>
				<!--{* ----- 로고 영역 끝 ----- *}-->

				<!--{* ----- 검색창 영역 시작 ----- *}-->
		        <div class="search-form left">
					<form name="fsearchbox" method="get" action="{C.G5_BBS_URL}/search.php" onsubmit="return fsearchbox_submit(this);" class="sky-form">
					<input type="hidden" name="sfl" value="wr_subject||wr_content">
					<input type="hidden" name="sop" value="and">

					<section>
						<label for="sch_stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
						<label for="sch_stx" class="input input-file">
							<button class="button" type="submit" id="sch_submit"><i class="fa fa-search"></i></button>
							<input type="text" name="stx" id="sch_stx" maxlength="20" class="form-control" placeholder="전체검색" value="">
						</label>
					</section>

					</form>
					<script>
					function fsearchbox_submit(f) {
						if (f.stx.value.length < 2 || f.stx.value == $("#sch_stx").attr("placeholder")) {
							alert("검색어는 두글자 이상 입력하십시오.");
							f.stx.select();
							f.stx.focus();
							return false;
						}
						// 검색에 많은 부하가 걸리는 경우 이 주석을 제거하세요.
						var cnt = 0;
						for (var i=0; i<f.stx.value.length; i++) {
							if (f.stx.value.charAt(i) == ' ') cnt++;
						}

						if (cnt > 1) {
							alert("빠른 검색을 위하여 검색어에 공백은 한개만 입력할 수 있습니다.");
							f.stx.select();
							f.stx.focus();
							return false;
						}
						return true;
					}
					</script>
		        </div>
		        <!--{* ----- 검색창 영역 끝 ----- *}-->

		        <!--{* ----- ebp_notice 공지최신글 영역 시작 - (아래 추출옵션에서 bo_table=게시파id 를 설정합니다.) ----- *}-->
				<article class="ebp-notice-w right">
					{latest->latest_eyoom('ebp_notice','bo_table=게시판id||count=5||cut_subject=30')}
				</article>
				<!--{* ----- 공지최신글 영역 끝 ----- *}-->
				<div class="clear"></div>
			</div>
		</header>

		<!--{* ----- 메뉴바 영역 시작 ----- *}-->
		<!--{? 0 // 앞숫자설정 - 0:고정메뉴바, 1:일반메뉴바}-->
		<div class="eb-navbar">
		<!--{:}-->
		<div class="eb-navbar navbar-fixed">
		<!--{/}-->
			<nav class="eb-nav nav1">
				<div class="container">
	                <ul>
	                    <!--{* Home *}-->
	                    <li class="{? defined('_INDEX_')}active{/} nav-home">
	                        <a href="{C.G5_URL}{? _is_member && eyoomer.main_index != 'index'}/?home{/}"><i class="fa fa-home"></i> Home</a>
	                    </li>
	                    <!--{* End Home *}-->

	                    <!--{* Menu *}-->
	                    <!--{@ menu}-->
	                    <li class="{? .active}active{/}">
	                        <a href="{.me_link}" target="_{.me_target}">
	                            <!--{? .me_icon}--><i class="fa {.me_icon}"></i> <!--{/}-->{.me_name}<!--{? menu.submenu}--> <i class="fa fa-angle-down"></i><!--{/}--><!--{? .new}--> <i class="fa fa-circle nav-new1"></i><!--{/}-->
	                        </a>
							<!--{@ submenu}-->
			                <!--{? ..index_ == 0}-->
	                        <ul>
	                        <!--{/}-->
	                            <li class="{? ..active}active{/}">
									<a href="{..me_link}" target="_{..me_target}"><!--{? ..me_icon}--><i class="fa {..me_icon}"></i> <!--{/}-->{..me_name}<!--{? ..new}--> <i class="fa fa-circle nav-new2"></i><!--{/}--><!--{? ..sub=='on'}--><i class="fa fa-angle-right right"></i><!--{/}--></a>
									<!--{@ subsub}-->
									<!--{? ...index_ == 0}-->
									<ul>
									<!--{/}-->
										<li class="{? ...active}active{/}">
											<a href="{...me_link}" target="_{...me_target}"><!--{? ...me_icon}--><i class="fa {...me_icon}"></i> <!--{/}-->{...me_name}<!--{? ...new}--> <i class="fa fa-circle nav-new2"></i><!--{/}--></a>
										</li>
									<!--{? ...index_ == ...size_-1}-->
									</ul>
									<!--{/}-->
									<!--{/}-->
								</li>
	                        <!--{? ..index_ == ..size_-1}-->
	                        </ul>
	                        <!--{/}-->
							<!--{/}-->
	                    </li>
	                    <!--{/}-->
	                    <!--{* End Menu *}-->
	                </ul>
				</div>
			</nav>
		</div>
		<!--{* ----- 메뉴바 영역 끝 ----- *}-->

		<div class="ebp-body">
			<div class="container">
		    	<!--{? (defined('_INDEX_') && eyoom.use_main_side_layout == 'y') || (!defined('_INDEX_') && eyoom.use_sub_side_layout == 'y' && subinfo.sidemenu != 'n')}-->
				<!--{? eyoom.pos_side_layout == 'left'}-->
				<div class="side-left">
					{# side_pc}
				</div>
				<!--{/}-->
				<div class="content {? eyoom.pos_side_layout == 'left'}content-right{:}content-left{/}">
				<!--{:}-->
				<div class="content">
				<!--{/}-->
				    <!--{? defined('_INDEX_') || defined('_EYOOM_MYPAGE_')}-->
				    <!--{:}-->
				    <!--{* 페이지 타이틀 시작 *}-->
				    <div class="eb-title">
			            <h3 class="left"><i class="fa fa-chevron-circle-right"></i> {subinfo.title}</h3>
			            <ul class="right list-inline con-map">
							{subinfo.path}
			            </ul>
			            <div class="clear"></div>
				    </div>
				    <!--{* 페이지 타이틀 끝 *}-->
				    <!--{/}-->
<!--{/}-->