<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가 ?>

<!--{? !_wmode}-->
        </div>
        <!--{* ----- 컨텐츠 영역 끝 ----- *}-->

		<!--{* ----- 하단 영역 시작 ----- *}-->
        <div class="ebm-footer">
        	<p><a href="{href}">PC버전</a> <span class="right">Copyright &copy; {config.cf_title}. All Rights Reserved.</span></p>
            <div class="clear"></div>
        </div>
        <!--{* ----- 하단 영역 끝 ----- *}-->
    </div>

	<!--{* ----- 우측 사이드 영역 시작 ----- *}-->
	<aside class="ebm-sidebar-mb">
		<div class="ebm-sidebar-mb-title">
			<div class="ebm-toggle-btn">
				<a class="ebm-sidebar-close"><i class="fa fa-close"></i></a>
			</div>
			<h5>MEMBER & SITE <span class="color-red">INFO</span></h5>
		</div>
		<div class="ebm-sidebar-mb-scroll scrollable">
			{# side_mo}
		</div>
	</aside>
	<!--{* ----- 우측 사이드 영역 끝 ----- *}-->
</div>

{# misc_mo}
<!--{/}-->

<script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/back-to-top.js"></script>
<script type="text/javascript" src="../plugins/sky-forms/version-2.0.5/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../plugins/sky-forms/version-2.0.5/js/jquery.form.min.js"></script>
<script type="text/javascript" src="../plugins/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../js_mo/snap.min.js"></script>
<script type="text/javascript" src="../js_mo/app_mo.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
        App.initTooltip();
    });
</script>
<!--[if lt IE 9]>
	<script src="../js/respond.js"></script>
	<script src="../js/html5shiv.js"></script>
	<script src="../plugins/sky-forms/version-2.0.5/js/sky-forms-ie8.js"></script>
<![endif]-->
<!--{# tail_sub}-->